# 데이터 저장하기

In [1]:
import api
import db
from sqlalchemy import create_engine, text, MetaData

In [29]:
for year in range(2006,2024): 
    query = f"SELECT COUNT(*) FROM apt_distinct_temp2 WHERE 년 = {str(year)}"
    engine = create_engine('sqlite:///real_estate.db')
    with engine.connect() as conn :
        result = conn.execute(text(query))
        for row in result :
            print(f"{year}년 데이터 {row[0]}")

2006년 데이터 598635
2007년 데이터 237512
2008년 데이터 488780
2009년 데이터 562787
2010년 데이터 510091
2011년 데이터 568003
2012년 데이터 418507
2013년 데이터 554769
2014년 데이터 632032
2015년 데이터 712516
2016년 데이터 616635
2017년 데이터 561850
2018년 데이터 499170
2019년 데이터 529815
2020년 데이터 844931
2021년 데이터 597970
2022년 데이터 269840
2023년 데이터 393104

In [28]:
# CREATE TABLE apt_distinct_temp AS

query = '''
CREATE TABLE apt_distinct_temp2 AS 
SELECT *
FROM apt
GROUP BY 년, 월, 일, 거래금액, 아파트, 층, 해제사유발생일
'''


query = "SELECT COUNT(*) FROM apt_distinct_temp2"
engine = create_engine('sqlite:///real_estate.db')
with engine.connect() as conn :
    result = conn.execute(text(query))
    for row in result :
        print(row)

(9712311,)

In [5]:
loc = api.loc_code('all')
ym = api.create_ym_list(2014, 2024)

In [6]:
import api
from sqlalchemy import create_engine, text

api.save_all(engine, 'apt', loc, ym)

201401 data is saved. 230 locations with no data saved.
201402 data is saved. 231 locations with no data saved.
201403 data is saved. 228 locations with no data saved.
201404 data is saved. 229 locations with no data saved.
201405 data is saved. 230 locations with no data saved.
201406 data is saved. 231 locations with no data saved.
201407 data is saved. 228 locations with no data saved.
201408 data is saved. 231 locations with no data saved.
201409 data is saved. 230 locations with no data saved.
201410 data is saved. 229 locations with no data saved.
201411 data is saved. 231 locations with no data saved.
201412 data is saved. 232 locations with no data saved.
201501 data is saved. 230 locations with no data saved.
201502 data is saved. 228 locations with no data saved.
201503 data is saved. 229 locations with no data saved.
201504 data is saved. 229 locations with no data saved.
201505 data is saved. 229 locations with no data saved.
201506 data is saved. 230 locations with no data saved.
201507 data is saved. 229 locations with no data saved.
201508 data is saved. 230 locations with no data saved.
201509 data is saved. 232 locations with no data saved.
201510 data is saved. 228 locations with no data saved.
201511 data is saved. 229 locations with no data saved.
201512 data is saved. 230 locations with no data saved.
201601 data is saved. 232 locations with no data saved.
201602 data is saved. 229 locations with no data saved.
201603 data is saved. 229 locations with no data saved.
201604 data is saved. 230 locations with no data saved.
201605 data is saved. 230 locations with no data saved.
201606 data is saved. 229 locations with no data saved.
An error occurred: syntax error: line 1, column 49 on (21110, 201607)
201607 data is saved. 230 locations with no data saved.
201608 data is saved. 228 locations with no data saved.
201609 data is saved. 229 locations with no data saved.
201610 data is saved. 229 locations with no data saved.
201611 data is saved. 229 locations with no data saved.
201612 data is saved. 229 locations with no data saved.
201701 data is saved. 230 locations with no data saved.
201702 data is saved. 229 locations with no data saved.
201703 data is saved. 229 locations with no data saved.
201704 data is saved. 228 locations with no data saved.
201705 data is saved. 229 locations with no data saved.
201706 data is saved. 232 locations with no data saved.
201707 data is saved. 231 locations with no data saved.
201708 data is saved. 231 locations with no data saved.
201709 data is saved. 228 locations with no data saved.
201710 data is saved. 230 locations with no data saved.
201711 data is saved. 230 locations with no data saved.
201712 data is saved. 228 locations with no data saved.
201801 data is saved. 227 locations with no data saved.
201802 data is saved. 230 locations with no data saved.
201803 data is saved. 228 locations with no data saved.
201804 data is saved. 230 locations with no data saved.
201805 data is saved. 231 locations with no data saved.
201806 data is saved. 230 locations with no data saved.
201807 data is saved. 229 locations with no data saved.
201808 data is saved. 229 locations with no data saved.
201809 data is saved. 230 locations with no data saved.
201810 data is saved. 229 locations with no data saved.
201811 data is saved. 229 locations with no data saved.
201812 data is saved. 229 locations with no data saved.
201901 data is saved. 227 locations with no data saved.
201902 data is saved. 229 locations with no data saved.
201903 data is saved. 228 locations with no data saved.
201904 data is saved. 229 locations with no data saved.
201905 data is saved. 229 locations with no data saved.
201906 data is saved. 230 locations with no data saved.
201907 data is saved. 227 locations with no data saved.
201908 data is saved. 230 locations with no data saved.
201909 data is saved. 229 locations with no data saved.
201910 data is saved. 228 locations with no data saved.
201911 data is saved. 230 locations with no data saved.
201912 data is saved. 229 locations with no data saved.
202001 data is saved. 228 locations with no data saved.
202002 data is saved. 229 locations with no data saved.
202003 data is saved. 227 locations with no data saved.
202004 data is saved. 227 locations with no data saved.
202005 data is saved. 228 locations with no data saved.
202006 data is saved. 228 locations with no data saved.
202007 data is saved. 228 locations with no data saved.
202008 data is saved. 228 locations with no data saved.
202009 data is saved. 229 locations with no data saved.
202010 data is saved. 228 locations with no data saved.
202011 data is saved. 228 locations with no data saved.
202012 data is saved. 227 locations with no data saved.
202101 data is saved. 228 locations with no data saved.
202102 data is saved. 230 locations with no data saved.
202103 data is saved. 229 locations with no data saved.
202104 data is saved. 228 locations with no data saved.
202105 data is saved. 230 locations with no data saved.
202106 data is saved. 228 locations with no data saved.
202107 data is saved. 229 locations with no data saved.
202108 data is saved. 228 locations with no data saved.
202109 data is saved. 229 locations with no data saved.
202110 data is saved. 229 locations with no data saved.
202111 data is saved. 230 locations with no data saved.
202112 data is saved. 228 locations with no data saved.
202201 data is saved. 231 locations with no data saved.
202202 data is saved. 229 locations with no data saved.
202203 data is saved. 228 locations with no data saved.
202204 data is saved. 230 locations with no data saved.
202205 data is saved. 228 locations with no data saved.
202206 data is saved. 228 locations with no data saved.
202207 data is saved. 230 locations with no data saved.
202208 data is saved. 230 locations with no data saved.
202209 data is saved. 229 locations with no data saved.
202210 data is saved. 230 locations with no data saved.
202211 data is saved. 229 locations with no data saved.
202212 data is saved. 230 locations with no data saved.
202301 data is saved. 234 locations with no data saved.
202302 data is saved. 231 locations with no data saved.
202303 data is saved. 229 locations with no data saved.
202304 data is saved. 228 locations with no data saved.
202305 data is saved. 229 locations with no data saved.
202306 data is saved. 231 locations with no data saved.
202307 data is saved. 230 locations with no data saved.
202308 data is saved. 231 locations with no data saved.
202309 data is saved. 230 locations with no data saved.
202310 data is saved. 229 locations with no data saved.
202311 data is saved. 227 locations with no data saved.
202312 data is saved. 229 locations with no data saved.
202401 data is saved. 229 locations with no data saved.
202402 data is saved. 228 locations with no data saved.
202403 data is saved. 229 locations with no data saved.
202404 data is saved. 236 locations with no data saved.
202405 data is saved. 477 locations with no data saved.
202406 data is saved. 477 locations with no data saved.
202407 data is saved. 477 locations with no data saved.
202408 data is saved. 477 locations with no data saved.
202409 data is saved. 477 locations with no data saved.
202410 data is saved. 477 locations with no data saved.
202411 data is saved. 477 locations with no data saved.
202412 data is saved. 477 locations with no data saved.